<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script> {% load static %}
    <link rel="stylesheet" href="{% static 'lead_app/styles/style.css' %}">
    <title>Lead Profile</title>
</head>
<style>
    #thisNote{
        margin-bottom: 5px;
    }
</style>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navBar">
            <a class="navbar-brand" href="/home">User Profile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/leads">Current Leads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leads/create">New Lead</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/leads/favorites">View Favorites</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <dl class="row">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">{{lead.first_name}} {{lead.last_name}}</dd>

            <dt class="col-sm-3">Phone Number</dt>
            <dd class="col-sm-9">{{lead.phone_number}}</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{lead.email}}</dd>

            <dt class="col-sm-3 text-truncate"></dt>
            <dd class="col-sm-9">
                <b>Notes</b>
                {% for note in notes %}
                <div class = "border" id = "thisNote">
                    <p>{{note.content}}</p>
                    <p><b>Added by:</b> {{note.user.first_name}}</p>
                </div>
                {% endfor %} 
                <form action = '/leads/create/note/{{lead.id}}' method = 'post'>
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = "content"></textarea>
                    </div>
                    <div class="form-group">
                        <input type = "submit" value = "Add note">
                    </div>
                </form>
            </dd>

        </dl>
    </div>
</body>

</html>